/* General Styles */

body {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0077cc;
}

a:hover {
  text-decoration: underline;
}

header {
  padding: 30px;
  text-align: center;
  background-color: #bcd2e8;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 10px;
}

nav a {
  
  font-size: 20px;
  text-decoration: none;
  border: 1px solid #000000; /* Add borders to the navigation options */
  padding: 5px 10px; /* Add some padding for better visibility */
}

nav a:hover {
  color: #0077CC;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-top: 0;
  font-size: 28px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  margin: 0 auto;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10 10 10px 10px;
  text-decoration: none;
}

.back-to-top:hover {
  background-color: #bcd2e8;
  color: #000000;
}

/* Responsive Styles */

@media only screen and (max-width: 600px) {
  nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  
  nav li {
    margin: 10px 0;
  }
}
